<<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>"Архив статей"</title>
  </head>
  <body>
    <div class="header">
    </div>
    <div class="archive">
    </div>
  </body>
<header>
 <div class="header-bg">
  <img src="https://clipart-db.ru/file_content/rastr/berry-006.png" width="200px" height="200px" alt="Осень" />
 </div>
</header>
<archive>
{% for post in posts %}
<div class="one-post">
<h2 class="post-title">{{ post.title }}</h2>
<div class="article-info">
<div class="article-author">{{ post.author.username }}</div>
<div class="article-created-date">{{ post.created_date }}</div>
</div>
<p class="article-text">{{ post.get_excerpt }}</p>
</div>
{% endfor %}
</archive>
</html>
